<launch>
	<arg name="cam_name" value="c270-2" />

	<!-- Start the GSCAM node -->

	<env name="GSCAM_CONFIG" value="v4l2src device=/dev/v4l/by-id/usb-046d_C270_HD_WEBCAM_348E60A0-video-index0 ! videoconvert ! video/x-raw,format=UYVY ! videoscale ! video/x-raw,width=320,height=240 ! videoconvert ! ffmpegcolorspace" />

	<node pkg="gscam" type="gscam" name="$(arg cam_name)">
		<param name="camera_name" value="$(arg cam_name)" />
		<remap from="camera/image_raw" to="$(arg cam_name)/image_raw" />
	</node>

</launch>
