<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Bishop's RMRC Camera Feeds</title>
	<meta
		name="description"
		content="Camera feeds: 2 webcams, ir, and hazmat"
	/>

	<style>

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


#frame {
	margin: 0 auto;
	padding: 0;
}

#mainbar {
	flex: 3;
	margin: 0 auto;
	padding: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

#sidebar {
	flex: 1;
	overflow: auto;
	padding-left: 5px;
}


div {
    margin: 0;
    padding: 0;
}

#main {
	width: 100%;
	height: 100%;
	display: flex;
}

	</style>
</head>

<body>
	<div id="main">
		<div id="mainbar">
			<img id="frame" />
		</div>
		<div id="sidebar">
			<h4>Detected Hazmat Labels:</h4>
			<p id="hazmats"></p>

			<h4>Detected QR Codes:</h4>
			<p id="qrs"></p>
		</div>
	</div>

	<script>
		const FLASK_SERVER = "http://192.168.1.6:5000";
		// const FLASK_SERVER = "http://localhost:5000"
		const DELAY = 50;

		const end = setInterval(function() {
			const path = "/get";
			fetch(FLASK_SERVER + path)
				.then(response => response.json())
				.then(data => {
					try {
						const frame_ele = document.getElementById("frame");
						frame_ele.src = "data:image/jpg;base64," + data["frame"];

						const hazmats_ele = document.getElementById("hazmats");
						hazmats_ele.innerHTML = data["hazmats_found"].sort().join("<br />");

						const qrs_ele = document.getElementById("qrs");
						qrs_ele.innerHTML = data["qr_found"].sort().join("<br />");


						const ratio = parseFloat(data["w"]) / parseFloat(data["h"]);

						const max_w = window.innerWidth * 3 / 4;
						const max_h = window.innerHeight;

						const w = Math.min(max_w, max_h * ratio);
						const h = Math.min(max_h, max_w / ratio);
						
						frame_ele.style.width = w + "px";
						frame_ele.style.height = h + "px";
					} catch (e) {
						console.log(e);
					}
				});
		}, DELAY);

		function keydown(e) {
			const key = e.key;
			path = "/keydown/" + key;
			fetch(FLASK_SERVER + path);

			if (key == "q") {
				clearInterval(end);
			}
		}
		function keyup(e) {
			const key = e.key;
			path = "/keyup/" + key;
			fetch(FLASK_SERVER + path);
		}

		window.addEventListener("keydown", keydown);
		window.addEventListener("keyup", keyup);

	</script>


</body>